:root {
  --primary-color:#212121;
  --secondary-color:#757575;
  --accent-color: #2196F3;
  --main-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}
.mobile-menu-btn:hover, .mobile-menu-btn:focus {
  fill: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 1199px) {
  .title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
}
.logo {
  align-self: center;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-mobile {
  font-size: 24px;
  line-height: 1.17;
}

.base-btn {
  display: block;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.base-btn:hover, .base-btn:focus {
  background-color: #188CE8;
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-link:hover, .social-icon-link:focus {
  background-color: var(--accent-color);
}

.social-icon {
  display: block;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-link:hover .social-icon, .social-icon-link:focus .social-icon {
  fill: #FFFFFF;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 500ms linear, visibility 500ms linear;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 93px 15px 94px;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 93%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.modal__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.modal__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover .modal__icon, .modal__btn:focus .modal__icon {
  fill: var(--accent-color);
}

.contact-form__field {
  display: block;
  margin-bottom: 10px;
}

.contact-form__wrapper {
  position: relative;
  display: block;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus {
  border-color: var(--accent-color);
}

.contact-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus + .contact-form__icon {
  fill: var(--accent-color);
}

.contact-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.contact-form__text {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.contact-form__area {
  display: block;
  margin-bottom: 20px;
}

.contact-form__message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__message:focus {
  border-color: var(--accent-color);
}
.contact-form__message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.checkbox-text::before {
  display: inline-block;
  margin-right: 9px;
  width: 16px;
  height: 15px;
  content: "";
  border: 2px solid black;
  border-radius: 2px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .checkbox-text::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.checkbox-input:focus + .checkbox-text::before {
  border-color: var(--accent-color);
}

.contact-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-link {
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .checkbox-text {
    font-size: 14px;
    line-height: 1.71;
  }
  .contact-form__title {
    line-height: 1.15;
  }
}
.header {
  position: relative;
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  color: #000000;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu__nav {
    display: none;
  }
  .header-contact {
    display: none;
  }
  .mobile-menu__container {
    position: relative;
    padding: 48px 40px;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    opacity: 0;
    z-index: 10;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms linear;
    background-color: #FFFFFF;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
    fill: var(--accent-color);
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__item:last-child {
    margin-bottom: 302px;
  }
  .mobile-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: var(--accent-color);
  }
  .mobile-header-contact__item:first-child {
    margin-bottom: 32px;
  }
  .mobile-header-contact__item:last-child {
    margin-bottom: 64px;
  }
  .mobile-header-contact__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-header-contact__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
  }
  .mobile-social-list {
    display: flex;
    flex-wrap: wrap;
  }
  .mobile-social-item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-social-item:not(:first-child) {
    padding-left: 10px;
  }
  .mobile-social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-btn {
    display: none;
  }
  .menu {
    display: flex;
  }
  .menu__nav {
    display: flex;
    margin-left: 87px;
    align-items: center;
  }
  .menu__item:not(:first-child) {
    margin-left: 50px;
  }
  .menu__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .header-contact__mail,
  .header-contact__tel {
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    fill: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contact__mail:hover, .header-contact__mail:focus,
  .header-contact__tel:hover,
  .header-contact__tel:focus {
    color: var(--accent-color);
  }
  .header-contact__item:first-child {
    margin-bottom: 10px;
  }
  .header-contact__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contact__tel:hover .header-contact__icon, .header-contact__tel:focus .header-contact__icon, .header-contact__mail:hover .header-contact__icon, .header-contact__mail:focus .header-contact__icon {
    fill: var(--accent-color);
  }
  .header-contact__span {
    display: block;
    margin-left: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .menu__nav {
    margin-left: 93px;
    justify-content: space-between;
  }
  .header-contact__mail,
  .header-contact__tel {
    justify-content: center;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .header-contact {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
  .header-contact__span {
    margin-left: 10px;
  }
  .header-contact__item:first-child {
    margin-bottom: 0;
  }
  .header-contact__item:last-child {
    margin-left: 40px;
  }
}
.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-480.jpg);
  background-size: cover;
  background-color: #C4C4C4;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-480@2x.jpg);
  }
}
.main-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-1200.jpg);
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-1200@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .main-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.advantages__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
}

.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}

.advantages__icon {
  display: block;
}

.advantages__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .advantages__icons {
    height: 120px;
  }
  .advantages__item {
    width: 354px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .advantages__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__icons {
    height: 120px;
  }
  .advantages__item {
    width: 270px;
  }
  .advantages__item:not(:first-child) {
    margin-left: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}
.about {
  padding-top: 0;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.about__item {
  position: relative;
  margin-left: 30px;
  margin-bottom: 30px;
}

.about__inscription {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0px;
  background-color: rgba(47, 48, 58, 0.8);
}

.about__text {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  background-color: #F5F4FA;
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__description {
  background-color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__member {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.profession {
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.team__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__icon:not(:first-child) {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .team__item {
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item:not(:nth-child(4n+1)) {
    margin-left: 30px;
  }
  .team__description {
    padding-bottom: 30px;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__item {
  margin-left: 30px;
  margin-bottom: 30px;
}

.clients__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item:not(:first-child) {
    margin-left: 30px;
  }
  .clients__link {
    width: 170px;
  }
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer__logo {
  color: #FFFFFF;
}

.footer__address {
  text-align: center;
}

.footer__contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__address {
  color: #FFFFFF;
}

.footer__mail,
.footer__tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer__list {
  margin-top: 20px;
}

.footer__item {
  margin-bottom: 8px;
}

.footer__join {
  margin-top: 60px;
  text-align: center;
}

.join {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__icons {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.footer__social-icon-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__icon:not(:first-child) {
  margin-left: 10px;
}

.footer__social-icon {
  display: block;
  fill: #FFFFFF;
}

.subscription {
  margin-top: 60px;
}

.subscription__text {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

.subscription__input {
  display: block;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #FFFFFF;
}
.subscription__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px 28px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: left;
  color: #FFFFFF;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .footer__combined {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .footer__join {
    margin-left: 165px;
    margin-top: 0;
  }
  .subscription__input {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
  .footer__address {
    text-align: left;
  }
  .footer__list {
    margin-top: 28px;
  }
  .footer__item {
    margin-bottom: 12px;
  }
  .footer__join {
    margin-left: 93px;
    text-align: left;
  }
  .subscription {
    margin-left: 94px;
    margin-top: 0;
    min-width: 570px;
  }
  .subscription__text {
    text-align: inherit;
  }
  .subscription__form-input {
    display: flex;
  }
  .subscription__input {
    width: 358px;
    margin-left: 0;
    margin-right: 0;
  }
  .subscription__btn {
    margin-top: 0;
    margin-left: 12px;
    margin-right: 0;
  }
}
.filters {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-bottom: -8px;
}

.filters-item {
  margin-left: 8px;
  margin-bottom: 8px;
}

.filter {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  background-color: #F5F4FA;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:hover,
.filter:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .filters {
    justify-content: center;
  }
}
.portfolio {
  margin-top: 40px;
}

.portfolio__items {
  display: flex;
  border: 1px solid #EEEEEE;
  margin-bottom: 30px;
  background: #FFFFFF;
}

.portfolio__item {
  display: block;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__thumb-info {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover .portfolio__thumb-info, .portfolio__item:focus .portfolio__thumb-info {
  transform: translateY(0);
  opacity: 1;
}

.portfolio__thumb-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.portfolio__description {
  padding: 20px 24px;
}

.portfolio__name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}

.portfolio__filter {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .portfolio__items {
    max-width: 354px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .portfolio__thumb-info {
    padding: 49px 24px 77px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    margin-top: 50px;
  }
  .portfolio__items {
    max-width: 370px;
    max-height: 404px;
  }
  .portfolio__thumb-info {
    padding: 63px 24px;
  }
}
.active {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}/*# sourceMappingURL=main.css.map */