.hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-480.jpg);
    background-size: cover;
    background-color: #C4C4C4;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
}

@media 
(min-device-pixel-ratio: 2), 
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-480@2x.jpg);
    }
}

.main-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-768.jpg);
    }

    @media 
    (min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-768@2x.jpg);
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4), 
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-1200.jpg);
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    @media 
    (min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-1200@2x.jpg);
        }
    }

    .main-title {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }

}  


