.active {
        color: var(--accent-color);
    }


@media screen and (min-width: 768px) {
    .active::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
    }
}