body {
    font-family: var(--main-font);
    color: var(--primary-color);
    
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

@media screen and (max-width: 1199px) {
    section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media screen and (min-width: 1200px) {
    section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
